<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IOlympics" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52285/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:52285/Olympics.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOlympics" contract="Olypics.IOlympics"
                name="BasicHttpBinding_IOlympics" />
        </client>
    </system.serviceModel>
</configuration>